.homePage {
  min-height: 'calc(100vh - 50px)';
  display: 'flex';
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 48;
  text-align: center;
}

.photo{
  display: flex;
margin: auto;
margin-bottom: 20;

}
.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: orange;
  text-decoration: none;
}
.text{
  display: flex;
  margin-left: 10;
}