.thumble{
display: block;
  align-items: center;
  justify-content: center;
  padding: 30px;

 
}

.containerWrapper{
  width: 320px;
  margin: 0 100px;
  padding: 50px 10px 50px 10px;

}


.title{
  display: block;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  color: rgb(123, 178, 223);
margin-left: 200px;
}

.textApp{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.titleText{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
}